In [15]:
import pandas as pd
import json

In [4]:
statedata = pd.read_csv("../resources/data/states_info.csv")
statedata_df = pd.DataFrame(statedata)
censusdata = pd.read_csv("../resources/data/census_pd.csv")
censusdata_df = pd.DataFrame(censusdata)

In [5]:
alldata_df = pd.merge(statedata, censusdata, on="Name")
alldata_df.head()

,Name,Capital,Lat,Lng,State,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,Alabama,Montgomery,32.377716,-86.300568,1,4876250.0,39.0,50536.0,27928.0,795989.0,16.323794
1,Alaska,Juneau,58.301598,-134.420212,2,737068.0,34.3,77640.0,36787.0,76933.0,10.437707
2,Arizona,Phoenix,33.448143,-112.096962,4,7050299.0,37.7,58945.0,30694.0,1043764.0,14.804535
3,Arkansas,Little Rock,34.746613,-92.288986,5,2999370.0,38.1,47597.0,26577.0,496260.0,16.545475
4,California,Sacramento,38.576668,-121.493629,6,39283497.0,36.5,75235.0,36955.0,5149742.0,13.109174

In [6]:
# df.astype({'col1': 'int32'}).dtypes
alldata_df.astype({"Population":'int64', "Median Age":'int64', "Household Income":'int64', 
                   "Per Capita Income":'int64', "Poverty Count":'int64'}).dtypes

Name                  object
Capital               object
Lat                  float64
Lng                  float64
State                  int64
Population             int64
Median Age             int64
Household Income       int64
Per Capita Income      int64
Poverty Count          int64
Poverty Rate         float64
dtype: object

In [7]:
alldata_dict = alldata_df.to_dict()
alldata_dict

{'Name': {0: 'Alabama',
  1: 'Alaska',
  2: 'Arizona',
  3: 'Arkansas',
  4: 'California',
  5: 'Colorado',
  6: 'Connecticut',
  7: 'Delaware',
  8: 'Hawaii',
  9: 'Florida',
  10: 'Georgia',
  11: 'Idaho',
  12: 'Illinois',
  13: 'Indiana',
  14: 'Iowa',
  15: 'Kansas',
  16: 'Kentucky',
  17: 'Louisiana',
  18: 'Maine',
  19: 'Maryland',
  20: 'Massachusetts',
  21: 'Michigan',
  22: 'Minnesota',
  23: 'Mississippi',
  24: 'Missouri',
  25: 'Montana',
  26: 'Nebraska',
  27: 'Nevada',
  28: 'New Hampshire',
  29: 'New Jersey',
  30: 'New Mexico',
  31: 'North Carolina',
  32: 'North Dakota',
  33: 'New York',
  34: 'Ohio',
  35: 'Oklahoma',
  36: 'Oregon',
  37: 'Pennsylvania',
  38: 'Rhode Island',
  39: 'South Carolina',
  40: 'South Dakota',
  41: 'Tennessee',
  42: 'Texas',
  43: 'Utah',
  44: 'Vermont',
  45: 'Virginia',
  46: 'Washington',
  47: 'West Virginia',
  48: 'Wisconsin',
  49: 'Wyoming'},
 'Capital': {0: 'Montgomery',
  1: 'Juneau',
  2: 'Phoenix',
  3: 'Little Rock',
  4: 'Sacramento',
  5: 'Denver',
  6: 'Hartford',
  7: 'Dover',
  8: 'Honolulu',
  9: 'Tallahassee',
  10: 'Atlanta',
  11: 'Boise',
  12: 'Springfield',
  13: 'Indianapolis',
  14: 'Des Moines',
  15: 'Topeka',
  16: 'Frankfort',
  17: 'Baton Rouge',
  18: 'Augusta',
  19: 'Annapolis',
  20: 'Boston',
  21: 'Lansing',
  22: 'St. Paul',
  23: 'Jackson',
  24: 'Jefferson City',
  25: 'Helena',
  26: 'Lincoln',
  27: 'Carson City',
  28: 'Concord',
  29: 'Trenton',
  30: 'Santa Fe',
  31: 'Raleigh',
  32: 'Bismarck',
  33: 'Albany',
  34: 'Columbus',
  35: 'Oklahoma City',
  36: 'Salem',
  37: 'Harrisburg',
  38: 'Providence',
  39: 'Columbia',
  40: 'Pierre',
  41: 'Nashville',
  42: 'Austin',
  43: 'Salt Lake City',
  44: 'Montpelier',
  45: 'Richmond',
  46: 'Olympia',
  47: 'Charleston',
  48: 'Madison',
  49: 'Cheyenne'},
 'Lat': {0: 32.377716,
  1: 58.301598,
  2: 33.448143,
  3: 34.746613,
  4: 38.576668,
  5: 39.739227,
  6: 41.764046,
  7: 39.157307,
  8: 21.307442,
  9: 30.438118,
  10: 33.749027000000005,
  11: 43.617775,
  12: 39.798363,
  13: 39.768623,
  14: 41.591087,
  15: 39.048191,
  16: 38.186722,
  17: 30.457069,
  18: 44.307167,
  19: 38.978764,
  20: 42.358162,
  21: 42.733635,
  22: 44.955097,
  23: 32.303847999999995,
  24: 38.579201,
  25: 46.585709,
  26: 40.808075,
  27: 39.163914,
  28: 43.206898,
  29: 40.220596,
  30: 35.68224,
  31: 35.78043,
  32: 46.82085,
  33: 42.652843,
  34: 39.961346,
  35: 35.492207,
  36: 44.938461,
  37: 40.264378,
  38: 41.830914,
  39: 34.000343,
  40: 44.367031,
  41: 36.16581,
  42: 30.27467,
  43: 40.77747700000001,
  44: 44.262436,
  45: 37.538857,
  46: 47.035805,
  47: 38.336246,
  48: 43.07468400000001,
  49: 41.140259},
 'Lng': {0: -86.300568,
  1: -134.42021200000002,
  2: -112.096962,
  3: -92.288986,
  4: -121.493629,
  5: -104.984856,
  6: -72.682198,
  7: -75.519722,
  8: -157.857376,
  9: -84.281296,
  10: -84.38822900000002,
  11: -116.199722,
  12: -89.654961,
  13: -86.162643,
  14: -93.603729,
  15: -95.677956,
  16: -84.875374,
  17: -91.187393,
  18: -69.781693,
  19: -76.490936,
  20: -71.063698,
  21: -84.555328,
  22: -93.102211,
  23: -90.182106,
  24: -92.172935,
  25: -112.018417,
  26: -96.699654,
  27: -119.766121,
  28: -71.537994,
  29: -74.769913,
  30: -105.939728,
  31: -78.639099,
  32: -100.783318,
  33: -73.757874,
  34: -82.99906899999998,
  35: -97.503342,
  36: -123.030403,
  37: -76.88359799999998,
  38: -71.414963,
  39: -81.033211,
  40: -100.346405,
  41: -86.78424100000002,
  42: -97.740349,
  43: -111.88823700000002,
  44: -72.580536,
  45: -77.43364,
  46: -122.905014,
  47: -81.612328,
  48: -89.384445,
  49: -104.820236},
 'State': {0: 1,
  1: 2,
  2: 4,
  3: 5,
  4: 6,
  5: 8,
  6: 9,
  7: 10,
  8: 15,
  9: 12,
  10: 13,
  11: 16,
  12: 17,
  13: 18,
  14: 19,
  15: 20,
  16: 21,
  17: 22,
  18: 23,
  19: 24,
  20: 25,
  21: 26,
  22: 27,
  23: 28,
  24: 29,
  25: 30,
  26: 31,
  27: 32,
  28: 33,
  29: 34,
  30: 35,
  31: 37,
  32: 38,
  33: 36,
  34: 39,
  35: 40,
  36: 41,
  37: 42,
  38: 44,
  39: 45,
  40: 46,
  41: 47,
  42: 48,
  43: 49,
  44: 50,
  45: 51,
  46: 53,
  47: 54,
  48: 55,
  49: 56},
 'Population': {0: 4876250.0,
  1: 737068.0,
  2: 7050299.0,
  3: 2999370.0,
  4: 39283497.0,
  5: 5610349.0,
  6: 3575074.0,
  7: 957248.0,
  8: 1422094.0,
  9: 20901636.0,
  10: 10403847.0,
  11: 1717750.0,
  12: 12770631.0,
  13: 6665703.0,
  14: 3139508.0,
  15: 2910652.0,
  16: 4449052.0,
  17: 4664362.0,
  18: 1335492.0,
  19: 6018848.0,
  20: 6850553.0,
  21: 9965265.0,
  22: 5563378.0,
  23: 2984418.0,
  24: 6104910.0,
  25: 1050649.0,
  26: 1914571.0,
  27: 2972382.0,
  28: 1348124.0,
  29: 8878503.0,
  30: 2092454.0,
  31: 10264876.0,
  32: 756717.0,
  33: 19572319.0,
  34: 11655397.0,
  35: 3932870.0,
  36: 4129803.0,
  37: 12791530.0,
  38: 1057231.0,
  39: 5020806.0,
  40: 870638.0,
  41: 6709356.0,
  42: 28260856.0,
  43: 3096848.0,
  44: 624313.0,
  45: 8454463.0,
  46: 7404107.0,
  47: 1817305.0,
  48: 5790716.0,
  49: 581024.0},
 'Median Age': {0: 39.0,
  1: 34.3,
  2: 37.7,
  3: 38.1,
  4: 36.5,
  5: 36.7,
  6: 41.0,
  7: 40.6,
  8: 39.1,
  9: 42.0,
  10: 36.7,
  11: 36.4,
  12: 38.1,
  13: 37.7,
  14: 38.2,
  15: 36.7,
  16: 38.9,
  17: 36.9,
  18: 44.7,
  19: 38.7,
  20: 39.5,
  21: 39.7,
  22: 38.0,
  23: 37.5,
  24: 38.6,
  25: 39.9,
  26: 36.5,
  27: 38.0,
  28: 42.9,
  29: 39.9,
  30: 37.8,
  31: 38.7,
  32: 35.1,
  33: 38.8,
  34: 39.4,
  35: 36.6,
  36: 39.3,
  37: 40.8,
  38: 39.9,
  39: 39.4,
  40: 37.0,
  41: 38.7,
  42: 34.6,
  43: 30.8,
  44: 42.9,
  45: 38.2,
  46: 37.7,
  47: 42.5,
  48: 39.5,
  49: 37.7},
 'Household Income': {0: 50536.0,
  1: 77640.0,
  2: 58945.0,
  3: 47597.0,
  4: 75235.0,
  5: 72331.0,
  6: 78444.0,
  7: 68287.0,
  8: 81275.0,
  9: 55660.0,
  10: 58700.0,
  11: 55785.0,
  12: 65886.0,
  13: 56303.0,
  14: 60523.0,
  15: 59597.0,
  16: 50589.0,
  17: 49469.0,
  18: 57918.0,
  19: 84805.0,
  20: 81215.0,
  21: 57144.0,
  22: 71306.0,
  23: 45081.0,
  24: 55461.0,
  25: 54970.0,
  26: 61439.0,
  27: 60365.0,
  28: 76768.0,
  29: 82545.0,
  30: 49754.0,
  31: 54602.0,
  32: 64894.0,
  33: 68486.0,
  34: 56602.0,
  35: 52919.0,
  36: 62818.0,
  37: 61744.0,
  38: 67167.0,
  39: 53199.0,
  40: 58275.0,
  41: 53320.0,
  42: 61874.0,
  43: 71621.0,
  44: 61973.0,
  45: 74222.0,
  46: 73775.0,
  47: 46711.0,
  48: 61747.0,
  49: 64049.0},
 'Per Capita Income': {0: 27928.0,
  1: 36787.0,
  2: 30694.0,
  3: 26577.0,
  4: 36955.0,
  5: 38226.0,
  6: 44496.0,
  7: 35450.0,
  8: 35567.0,
  9: 31619.0,
  10: 31067.0,
  11: 27970.0,
  12: 36038.0,
  13: 29777.0,
  14: 32176.0,
  15: 31814.0,
  16: 28178.0,
  17: 27923.0,
  18: 32637.0,
  19: 42122.0,
  20: 43761.0,
  21: 31713.0,
  22: 37625.0,
  23: 24369.0,
  24: 30810.0,
  25: 31151.0,
  26: 32302.0,
  27: 31557.0,
  28: 40003.0,
  29: 42745.0,
  30: 27230.0,
  31: 30783.0,
  32: 36062.0,
  33: 39326.0,
  34: 31552.0,
  35: 28422.0,
  36: 33763.0,
  37: 34352.0,
  38: 36121.0,
  39: 29426.0,
  40: 30773.0,
  41: 29859.0,
  42: 31277.0,
  43: 29775.0,
  44: 34577.0,
  45: 39278.0,
  46: 38915.0,
  47: 26480.0,
  48: 33375.0,
  49: 33366.0},
 'Poverty Count': {0: 795989.0,
  1: 76933.0,
  2: 1043764.0,
  3: 496260.0,
  4: 5149742.0,
  5: 565873.0,
  6: 344146.0,
  7: 109400.0,
  8: 130649.0,
  9: 2870487.0,
  10: 1528558.0,
  11: 221256.0,
  12: 1557873.0,
  13: 867996.0,
  14: 348122.0,
  15: 337739.0,
  16: 747010.0,
  17: 871467.0,
  18: 153131.0,
  19: 539991.0,
  20: 680962.0,
  21: 1398527.0,
  22: 526065.0,
  23: 585786.0,
  24: 810045.0,
  25: 134605.0,
  26: 206579.0,
  27: 384690.0,
  28: 98682.0,
  29: 869081.0,
  30: 392065.0,
  31: 1467591.0,
  32: 78198.0,
  33: 2681277.0,
  34: 1588343.0,
  35: 598373.0,
  36: 533527.0,
  37: 1539183.0,
  38: 125826.0,
  39: 741650.0,
  40: 110553.0,
  41: 996930.0,
  42: 4072194.0,
  43: 298537.0,
  44: 65652.0,
  45: 865691.0,
  46: 785244.0,
  47: 310044.0,
  48: 639160.0,
  49: 62257.0},
 'Poverty Rate': {0: 16.323793899000258,
  1: 10.437707240037554,
  2: 14.804535240278463,
  3: 16.545474549655427,
  4: 13.109174063602334,
  5: 10.086235276985445,
  6: 9.626262281563962,
  7: 11.428595306545429,
  8: 9.187086085729916,
  9: 13.733312550271185,
  10: 14.692238361444572,
  11: 12.880570513753455,
  12: 12.198872553752437,
  13: 13.021822304414105,
  14: 11.088425320145703,
  15: 11.603551369246476,
  16: 16.790318476835065,
  17: 18.68351984687295,
  18: 11.466261123241472,
  19: 8.971667003386695,
  20: 9.940248619345036,
  21: 14.034017158600399,
  22: 9.455855776831989,
  23: 19.628148603848384,
  24: 13.268745976599163,
  25: 12.811605017470152,
  26: 10.789832291411495,
  27: 12.942145390464615,
  28: 7.3199497969029546,
  29: 9.788598370693796,
  30: 18.737090516685196,
  31: 14.297211188912561,
  32: 10.333850039050263,
  33: 13.699332204834798,
  34: 13.627532378347988,
  35: 15.214665117331617,
  36: 12.918945528394456,
  37: 12.032829536419802,
  38: 11.901467134429467,
  39: 14.771532698136516,
  40: 12.697929564296526,
  41: 14.858803139973496,
  42: 14.409308762622054,
  43: 9.64002753767702,
  44: 10.51587905425644,
  45: 10.239455776197733,
  46: 10.6055193421705,
  47: 17.06064749725555,
  48: 11.037667880794015,
  49: 10.715047915404528}}

In [8]:
# Saving to CSV
alldata_df.to_csv("../resources/data/alldata.csv", index=False)

In [16]:
json = json.dumps(alldata_dict)
f = open("../resources/data/alldata_dict.json","w")
f.write(json)
f.close()