In [1]:
import pandas as pd

In [11]:
statedata = pd.read_csv("resources/data/states_info.csv")
statedata_df = pd.DataFrame(statedata)
censusdata = pd.read_csv("resources/data/census_pd.csv")
censusdata_df = pd.DataFrame(censusdata)

In [13]:
alldata_df = pd.merge(statedata, censusdata, on="Name")
alldata_df.head()

,Name,Capital,Lat,Lng,State,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,Alabama,Montgomery,32.377716,-86.300568,1,4876250.0,39.0,50536.0,27928.0,795989.0,16.323794
1,Alaska,Juneau,58.301598,-134.420212,2,737068.0,34.3,77640.0,36787.0,76933.0,10.437707
2,Arizona,Phoenix,33.448143,-112.096962,4,7050299.0,37.7,58945.0,30694.0,1043764.0,14.804535
3,Arkansas,Little Rock,34.746613,-92.288986,5,2999370.0,38.1,47597.0,26577.0,496260.0,16.545475
4,California,Sacramento,38.576668,-121.493629,6,39283497.0,36.5,75235.0,36955.0,5149742.0,13.109174

In [23]:
# df.astype({'col1': 'int32'}).dtypes
alldata_df.astype({"Population":'int64', "Median Age":'int64', "Household Income":'int64', 
                   "Per Capita Income":'int64', "Poverty Count":'int64'}).dtypes

Name                  object
Capital               object
Lat                  float64
Lng                  float64
State                  int64
Population             int64
Median Age             int64
Household Income       int64
Per Capita Income      int64
Poverty Count          int64
Poverty Rate         float64
dtype: object

In [24]:
# Saving to CSV
alldata_df.to_csv("resources/data/alldata.csv", index=False)