In [1]:
import pandas as pd

In [22]:
url = "https://www.usclimatedata.com/climate/jefferson_city/missouri/united-states/"

master_dict = {}

url1 = "https://en.wikipedia.org/wiki/List_of_capitals_in_the_United_States"

state_names = pd.read_html(url1)

state_namesdf = pd.DataFrame(state_names[1])
states = list(state_namesdf["State"]["State"])
print(states)
cities = list(state_namesdf["Capital"]["Capital"])
print(cities)
# Go 1 less in For range

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming', '[18]']
['Montgomery', 'Juneau', 'Phoenix', 'Little Rock', 'Sacramento', 'Denver', 'Hartford', 'Dover', 'Tallahassee', 'Atlanta', 'Honolulu', 'Boise', 'Springfield', 'Indianapolis', 'Des Moines', 'Topeka', 'Frankfort', 'Baton Rouge', 'Augusta', 'Annapolis', 'Boston', 'Lansing', 'Saint Paul', 'Jackson', 'Jefferson City', 'Helena', 'Lincoln', 'Carson City', 'Concord', 'Trenton', 'Santa Fe', 'Albany', 'Raleigh', 'Bismarck', 'Columbus', 'Oklahoma City', 'Salem', 'Harrisburg', 'Providence', 'Columbia', 'Pierre', 'Nashville', 'Austin', 'Salt Lake City', 'Montpelier', 'Richmond', 'Olympia', 'Charleston', 'Madison', 'Cheyenne', '[18]']

In [25]:
for i in range(1,(len(states)-1)):
    state=states[i]
    state = state.replace(" ", "_").lower()
    city=cities[i]
    city = city.replace(" ", "_").lower()
    print(state)
    url="https://www.usclimatedata.com/climate/"+city+"/"+state+"/united-states/"

alaska
arizona
arkansas
california
colorado
connecticut
delaware
florida
georgia
hawaii
idaho
illinois
indiana
iowa
kansas
kentucky
louisiana
maine
maryland
massachusetts
michigan
minnesota
mississippi
missouri
montana
nebraska
nevada
new_hampshire
new_jersey
new_mexico
new_york
north_carolina
north_dakota
ohio
oklahoma
oregon
pennsylvania
rhode_island
south_carolina
south_dakota
tennessee
texas
utah
vermont
virginia
washington
west_virginia
wisconsin
wyoming

In [8]:
kansas = pd.read_html(url)
kansas[1]
kansasdf0 = pd.DataFrame(kansas[0])
kansasdf0
kansasdf1 = pd.DataFrame(kansas[1])
kansasdf1

,Unnamed: 0,JulJu,AugAu,SepSe,OctOc,NovNo,DecDe
0,Average high in ºF Av. high Hi,88.00,88.00,80.00,69.00,56.00,43.00
1,Average low in ºF Av. low Lo,68.00,66.00,57.00,45.00,35.00,24.00
2,Av. precipitation in inch Av. precip. Pre.,4.31,4.04,4.16,3.34,3.61,2.73
3,Av. snowfall in inch Snowfall Sn,0.00,0.00,0.00,0.00,0.00,4.00

In [4]:
kansas_dict = {
    "average high" : {
        "jan" : kansasdf0.iloc[0,1]
    }
}
kansas_dict["average high"]["jan"]

40.0

In [5]:
master_dict["kansas"] = kansas_dict
master_dict

{'kansas': {'average high': {'jan': 40.0}}}